<div class="main" appScrollNext (scrollNextEvent)="reactOnScrollNextEvent()">
  <div class="main__navigation">
    <div class="main__navigation-items-wrapper">
      <div class="main__navigation-items">
        <li class="main__navigation-item" routerLink="/home/about">о сервисе</li>
        <li class="main__navigation-item" routerLink="/home/sources">о источниках</li>
        <li class="main__navigation-item" routerLink="/home/feedback">задать вопрос</li>
      </div>
    </div>
  </div>
  <div class="main__content">
    <div class="main__title">
      Popular belief simply random text 
      roots in a piece of classical !
    </div>
    <div class="main__description">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    </div>
    <div class="main__action">
      <button routerLink="/profile">Попробовать</button>
    </div>
  </div>
  <div class="main__footer">
    <button class="main__more" (click)="reactOnScrollNextEvent()"></button>
    <div class="main__footer-description">подробнее</div>
  </div>
  <div class="main__plate">
    <img src="assets/img/home/plate.png" alt="">
  </div>
</div>