<div class="about">
  <div class="about__wrapper">
    <div class="about__images">
      <div class="about__images-main">
        <img src="../../../../../assets/img/about/first-image.png" alt="">
      </div>
      <div class="about__images-additional">
        <img src="../../../../../assets/img/about/second-image.png" alt="">
        <img src="../../../../../assets/img/about/third-image.png" alt="">
        <img src="../../../../../assets/img/about/fourth-image.png" alt="">
      </div>
    </div>
    <div class="about__information">
      <div class="about__information-title">
        <div class="about__information-title-common">
          О сервисе
          <div class="about__information-title-back">О сервисе</div>
        </div>
      </div>
      <div class="about__information-description">
        Lorem ipsum dolor sit amet, consectetuer adipi cing elit, sed diam nonummy nibh euismod tincidunt ut laoreet doloremagna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.
      </div>
      <div class="about__information-items">
        <div class="about__information-item">
          <div class="about__information-content">
            Каждая комбинация 
            рассчитывается исходя из 
            суточных норм
          </div>
          <div class="about__information-icon about__information-icon_first"></div>
        </div>
        <div class="about__information-item">
          <div class="about__information-content">
            Уникальная возможность самостоятельной разработки 
            рациона питания
          </div>
          <div class="about__information-icon about__information-icon_second"></div>
        </div>
        <div class="about__information-item">
          <div class="about__information-content">
            Удобный интерфейс и наглядная визуализация всех микро и макро-элементов
          </div>
          <div class="about__information-icon about__information-icon_third"></div>
        </div>
        <div class="about__information-item">
          <div class="about__information-content">
            Умные рекомендации рецептов 
            блюд соответствующих вашим комбинациям
          </div>
          <div class="about__information-icon about__information-icon_fourth"></div>
        </div>
      </div>
      <div class="about__information-action">
        <button>попробовать</button>
      </div>
    </div>
    <div class="about__footer">
      <button></button>
    </div>
  </div>
</div>