@font-face {
  font-family: "SFUIDisplay-Medium";
  src: url("/assets/fonts/SanFrancisco/SFUIDisplay-Medium/SFUIDisplay-Medium.eot");
  src: url("/assets/fonts/SanFrancisco/SFUIDisplay-Medium/SFUIDisplay-Medium.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/SanFrancisco/SFUIDisplay-Medium/SFUIDisplay-Medium.woff")format("woff"),
  url("/assets/fonts/SanFrancisco/SFUIDisplay-Medium/SFUIDisplay-Medium.ttf")format("truetype");
  font-style: normal;
  font-weight:normal;
}

@font-face {
  font-family: "SFUIText-Light";
  src: url("/assets/fonts/SanFrancisco/SFUIText-Light/SFUIText-Light.eot");
  src: url("/assets/fonts/SanFrancisco/SFUIText-Light/SFUIText-Light.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/SanFrancisco/SFUIText-Light/SFUIText-Light.woff")format("woff"),
  url("/assets/fonts/SanFrancisco/SFUIText-Light/SFUIText-Light.ttf")format("truetype");
  font-style: normal;
  font-weight:normal;
}

@font-face {
  font-family: "SFUIDisplay-Light";
  src: url("/assets/fonts/SanFrancisco/SFUIDisplay-Light/SFUIDisplay-Light.eot");
  src: url("/assets/fonts/SanFrancisco/SFUIDisplay-Light/SFUIDisplay-Light.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/SanFrancisco/SFUIDisplay-Light/SFUIDisplay-Light.woff")format("woff"),
  url("/assets/fonts/SanFrancisco/SFUIDisplay-Light/SFUIDisplay-Light.ttf")format("truetype");
  font-style: normal;
  font-weight:normal;
}

@font-face {
  font-family: "SFUIDisplay-Semibold";
  src: url("/assets/fonts/SanFrancisco/SFUIDisplay-Semibold/SFUIDisplay-Semibold.eot");
  src: url("/assets/fonts/SanFrancisco/SFUIDisplay-Semibold/SFUIDisplay-Semibold.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/SanFrancisco/SFUIDisplay-Semibold/SFUIDisplay-Semibold.woff")format("woff"),
  url("/assets/fonts/SanFrancisco/SFUIDisplay-Semibold/SFUIDisplay-Semibold.ttf")format("truetype");
  font-style: normal;
  font-weight:normal;
}

