<div class="combinations">
  <div class="combinations__side-bar">
    <app-combinations-side-bar></app-combinations-side-bar>
  </div>
  <div class="combinations__content">
    <div class="combinations__content-header">
      <app-combinations-header></app-combinations-header>
    </div>
    <div class="combinations__content-value">
      <div class="combinations__parameters">
        <div class="combinations__parameters-item combinations__parameters-item_proteines">
          <div class="combinations__item_image">
            8%
          </div>
          <div class="combinations__item-value">
            <div class="combinations__item-title">Белки:</div>
            <div class="combinations__item-description">5.9г</div>
          </div>
        </div>
        <div class="combinations__parameters-item combinations__parameters-item_fats">
          <div class="combinations__item_image">
            38%
          </div>
          <div class="combinations__item-value">
            <div class="combinations__item-title">Жиры:</div>
            <div class="combinations__item-description">32г</div>
          </div>
        </div>
        <div class="combinations__parameters-item combinations__parameters-item_colbr">
          <div class="combinations__item_image">
            8%
          </div>
          <div class="combinations__item-value">
            <div class="combinations__item-title">Углеводы:</div>
            <div class="combinations__item-description">59г</div>
          </div>
        </div>
        <div class="combinations__parameters-item combinations__parameters-item_water">
          <div class="combinations__item_image">
            8%
          </div>
          <div class="combinations__item-value">
            <div class="combinations__item-title">Вода:</div>
            <div class="combinations__item-description">74г</div>
          </div>
        </div>
        <div class="combinations__parameters-item combinations__parameters-item_zola">
          <div class="combinations__item_image">
            8%
          </div>
          <div class="combinations__item-value">
            <div class="combinations__item-title">Зола:</div>
            <div class="combinations__item-description">1.1г</div>
          </div>
        </div>
      </div>
      <div class="combinations__info">
        <div class="combinations__info-left">
          <div class="combinations__calories">
            <div class="combinations__calories-title">калории</div>
            <div class="combinations__calories-value">
              3400
            </div>
          </div>
          <div class="combinations__coeficient">
            <div class="combinations__calories-title">коэф. полезных веществ</div>
            <div class="combinations__human">48%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
