<div class="combinations">
  <div class="combinations__side-bar" *ngIf="sideBarVisibility" @appearsFromLeft (swipeleft)="hideSedebar()">
    <app-combinations-side-bar></app-combinations-side-bar>
  </div>
  <div class="combinations__side-bar combinations__side-bar_desktop">
    <app-combinations-side-bar></app-combinations-side-bar>
  </div>
  <div class="combinations__content">
    <div class="combinations__content-header">
      <app-combinations-header></app-combinations-header>
    </div>
    <div class="combinations__content-mobile-header">
      <app-mobile-header></app-mobile-header>
    </div>
    <div class="combinations__content-value" [ngStyle]="{'margin': recipe ? '0' : (smallScreen ? '25px 10px' : '20px')}">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="combinations__mobile-navigation">
    <app-mobile-navigation></app-mobile-navigation>
  </div>
</div>
