@font-face {
  font-family: "SFUIDisplay-Medium";
  src: url("../fonts/SanFrancisco/SFUIDisplay-Medium/SFUIDisplay-Medium.eot");
  src: url("../fonts/SanFrancisco/SFUIDisplay-Medium/SFUIDisplay-Medium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SanFrancisco/SFUIDisplay-Medium/SFUIDisplay-Medium.woff")format("woff"),
  url("../fonts/SanFrancisco/SFUIDisplay-Medium/SFUIDisplay-Medium.ttf")format("truetype");
  font-style: normal;
  font-weight:normal;
}

@font-face {
  font-family: "SFUIText-Light";
  src: url("../fonts/SanFrancisco/SFUIText-Light/SFUIText-Light.eot");
  src: url("../fonts/SanFrancisco/SFUIText-Light/SFUIText-Light.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SanFrancisco/SFUIText-Light/SFUIText-Light.woff")format("woff"),
  url("../fonts/SanFrancisco/SFUIText-Light/SFUIText-Light.ttf")format("truetype");
  font-style: normal;
  font-weight:normal;
}

@font-face {
  font-family: "SFUIDisplay-Light";
  src: url("../fonts/SanFrancisco/SFUIDisplay-Light/SFUIDisplay-Light.eot");
  src: url("../fonts/SanFrancisco/SFUIDisplay-Light/SFUIDisplay-Light.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SanFrancisco/SFUIDisplay-Light/SFUIDisplay-Light.woff")format("woff"),
  url("../fonts/SanFrancisco/SFUIDisplay-Light/SFUIDisplay-Light.ttf")format("truetype");
  font-style: normal;
  font-weight:normal;
}

@font-face {
  font-family: "SFUIDisplay-Semibold";
  src: url("../fonts/SanFrancisco/SFUIDisplay-Semibold/SFUIDisplay-Semibold.eot");
  src: url("../fonts/SanFrancisco/SFUIDisplay-Semibold/SFUIDisplay-Semibold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SanFrancisco/SFUIDisplay-Semibold/SFUIDisplay-Semibold.woff")format("woff"),
  url("../fonts/SanFrancisco/SFUIDisplay-Semibold/SFUIDisplay-Semibold.ttf")format("truetype");
  font-style: normal;
  font-weight:normal;
}

@font-face {
  font-family: "SFUIText-Heavy";
  src: url("../fonts/SanFrancisco/SFUIText-Heavy/SFUIText-Heavy.eot");
  src: url("../fonts/SanFrancisco/SFUIText-Heavy/SFUIText-Heavy.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SanFrancisco/SFUIText-Heavy/SFUIText-Heavy.woff")format("woff"),
  url("../fonts/SanFrancisco/SFUIText-Heavy/SFUIText-Heavy.ttf")format("truetype");
  font-style: normal;
  font-weight:normal;
}

@font-face {
  font-family: "SFUIDisplay-Thin";
  src: url("../fonts/SanFrancisco/SFUIDisplay-Thin/SFUIDisplay-Thin.eot");
  src: url("../fonts/SanFrancisco/SFUIDisplay-Thin/SFUIDisplay-Thin.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SanFrancisco/SFUIDisplay-Thin/SFUIDisplay-Thin.woff")format("woff"),
  url("../fonts/SanFrancisco/SFUIDisplay-Thin/SFUIDisplay-Thin.ttf")format("truetype");
  font-style: normal;
  font-weight:normal;
}

@font-face {
  font-family: "SFUIDisplay-Regular";
  src: url("../fonts/SanFrancisco/SFUIDisplay-Regular/SFUIDisplay-Regular.eot");
  src: url("../fonts/SanFrancisco/SFUIDisplay-Regular/SFUIDisplay-Regular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SanFrancisco/SFUIDisplay-Regular/SFUIDisplay-Regular.woff")format("woff"),
  url("../fonts/SanFrancisco/SFUIDisplay-Regular/SFUIDisplay-Regular.ttf")format("truetype");
  font-style: normal;
  font-weight:normal;
}

@font-face {
  font-family: 'MuseoSansCyrl-100'; 
  src: url('../fonts/MuseoSans/MuseoSansCyrl-100.ttf');
}
 @font-face {
  font-family: 'MuseoSansCyrl-100Italic'; 
  src: url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.ttf');
}
@font-face {
  font-family: 'MuseoSansCyrl-300'; 
  src: url('../fonts/MuseoSans/MuseoSansCyrl-300.ttf');
}
@font-face {
  font-family: 'MuseoSansCyrl-300Italic'; 
  src: url('../fonts/MuseoSans/MuseoSansCyrl-300Italic.ttf');
}
@font-face {
  font-family: 'MuseoSansCyrl-500'; 
  src: url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf');
}
@font-face {
  font-family: 'MuseoSansCyrl-500Italic'; 
  src: url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.ttf');
}
@font-face {
  font-family: 'MuseoSansCyrl-700'; 
  src: url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf');
}
@font-face {
  font-family: 'MuseoSansCyrl-700Italic'; 
  src: url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.ttf');
}
@font-face {
  font-family: 'MuseoSansCyrl-900'; 
  src: url('../fonts/MuseoSans/MuseoSansCyrl-900.ttf');
}
@font-face {
  font-family: 'MuseoSansCyrl-900Italic'; 
  src: url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.ttf');
}

