<div class="navigation">
  <div class="navigation__item-wrapper" routerLink="/combinations/about" routerLinkActive="header__item_active">
    <div class="navigation__item navigation__item_about">
      о комбинации
    </div>
  </div>
  <div class="navigation__item-wrapper">
    <div class="navigation__item navigation__item_recipe">
      рецепты
    </div>
  </div>
  <div class="navigation__item-wrapper" routerLink="/combinations/own-combination" routerLinkActive="header__item_active">
    <div class="navigation__item navigation__item_own">
      своя комбинация
    </div>
  </div>
</div>
