.goal-card {
  width: 260px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 17px;
}
.goal-card__image {
  margin-top: 40px;
}
.goal-card__title {
  margin-top: 25px;
  font-family: 'SFUIDisplay-Medium';
  text-transform: uppercase;
  font-size: 15px;
  line-height: 12px;
}
.goal-card__description {
  margin-top: 15px;
  font-family: 'SFUIDisplay-Thin';
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 0 15px;
}

@media screen and (max-width: 1550px) {
  .goal-card {
    height: 415px;
  }
}

@media screen and (max-width: 568px) {
  .goal-card {
    height: 319px;
    width: 200px;
  }
  .goal-card__image {
    margin-top: 0;
    height: 60%;
    margin-top: 20px;
  }
  .goal-card__image img {
    height: 100%;
  }
  .goal-card__title {
    font-size: 12px;
  }
  .goal-card__description {
    font-size: 10px;
  }
}
