.combinations__parameters {
  margin-bottom: 19px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.app__parameter-wrapper:last-child {
  margin-right: 0;
}
.combinations__info {
  width: 100%;
  height: 100%;
  display: flex;
}
.combinations__info-left {
  flex-basis: 25%;
}
.combinations__info-parameters {
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.1);
}
.combinations__info-parameters-item {
  font-family: 'SFUIDisplay-Regular';
  font-size: 15px;
  flex-basis: 20%;
  box-sizing: border-box;
  text-align: center;
  border-right: 1px solid #e1e1e1;
  padding: 10px 0;
}
.combinations__info-parameters-item:last-child {
  border-right: none;
}
.combinations__info-right {
  flex-basis: 75%;
  box-sizing: border-box;
  margin-left: 20px;
}
.combinations__info-additional {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.1);
}
.additional__header-item {
  flex-basis: 33.3%;
  box-sizing: border-box;
  text-align: center;
  border-right: 1px solid #e1e1e1;
  margin: 10px 0;
  font-family: 'SFUIDisplay-Semibold';
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.additional__header-item:last-child {
  border-right: none;
}
.additional__header {
  display: flex;
  border-bottom: 1px solid #e1e1e1;
  overflow: hidden;
  height: 50px;
}
.additional__header-item_active {
  margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
.about__desktop {
  display: block;
}
.about__mobile {
  display: none;
}
.app__parameter-wrapper {
  box-sizing: border-box;
  flex-basis: 20%;
  margin-right: 25px;
}

@media screen and (max-width: 1550px) {
  .combinations__parameters {
    height: auto;
    margin-bottom: 10px;
  }
  .combinations__human {
    height: 210px;
    margin-top: 18px;
    padding-top: 60px;
    font-size: 24px;
  }
  .combinations__info-parameters {
    height: 50px;
  }
  .combinations__info-parameters-item {
    font-size: 15px;
    padding: 0;
  }
  .additional__header {
    height: auto;
  }
  .combinations__info-right {
    margin-left: 10px;
  }
  .combinations__info-additional {
    margin-top: 10px;
  }
  .app__parameter-wrapper {
    margin-right: 10px;
  }
}

@media screen and (max-width: 568px) {
  .about__desktop {
    display: none;
  }
  .about__mobile {
    display: block;
  }
  .about__mobile-parameter-wrapper {
    flex-basis: 48%;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .about__mobile-parameter-wrapper:nth-child(2n) {
    margin-right: 0;
  }
  .about__mobile-parameters-top, .about__mobile-parameters-bot {
    display: flex;
    flex-wrap: wrap;
  }
  .about__mobile-calories-wrapper {
    margin-top: 10px;
  }
  .about__mobile-panel {
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.1);
    height: 30px;
    padding: 10px 0;
    font-size: 8px;
    font-family: 'SFUIDisplay-Regular';
    display: flex;
    align-items: center;
    background-color: #fff;
    text-transform: uppercase;
  }
  .about__mobile-panel-item {
    flex-basis: 50%;
    text-align: center;
    border-right: 1px solid #e1e1e1;
  }
  .about__mobile-panel-item:last-child {
    border: none;
  }
  .about__mobile-panel {
    margin-top: 10px;
  }
  .additional__header-item {
    font-size: 9px;
  }
}
