<div class="side-bar">
  <div class="side-bar__header" [ngStyle]="{'background-image': getImage()}">
    <div class="side-bar__header-wrapper">
      <div class="side-bar__header-prev" *ngIf="headerNavigationVisibility()">
        <button [disabled]="goPrevDisabled()" (click)="decCombination()" mat-icon-button>
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
      </div>
      <div class="side-bar__header-title">{{getComgination()}}</div>
      <div class="side-bar__header-next" *ngIf="headerNavigationVisibility()">
        <button [disabled]="goNextDisabled()" (click)="incCombination()" mat-icon-button>
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="side-bar__content">
    <div class="side-bar__group" *ngFor="let group of combinationImtes">
      <div class="side-bar__group-title">{{group.title}}</div>
      <div class="side-bar__group-items" *ngFor="let item of group.items">
        <div
          class="side-bar__group-item"
          [ngClass]="getMenuClass(item)"
          (click)="selectItem(item)"
        >{{item}}</div>
      </div>
    </div>
    <div class="side-bar__culc" *ngIf="!headerNavigationVisibility()">
      <button class="side-bar__culc-button">Рассчитать</button>
    </div>
  </div>
</div>
