.side-bar {
  height: 100%;
  background-color: #fff;
}
.side-bar__header {
  height: 150px;
  border-bottom: 1px solid #e1e1e1;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  font-family: 'SFUIDisplay-Medium';
  font-size: 15px;
  text-transform: uppercase;
  justify-content: center;
  align-items: flex-end;
}
.side-bar__header .mat-icon {
  font-size: 16px;
  margin-top: -10px;
}
.side-bar__header .mat-icon-button {
  height: 30px;
  width: 30px;
}
.side-bar__header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.side-bar__header-prev .mat-icon {
  margin-right: -6px;
}