<div class="navigation">
  <div class="navigation__links">
    <div class="navigation__link" routerLink="/home/main" routerLinkActive="navigation__link_active">1</div>
    <div class="navigation__link" routerLink="/home/about" routerLinkActive="navigation__link_active">2</div>
    <div class="navigation__link" routerLink="/home/sources" routerLinkActive="navigation__link_active">3</div>
    <div class="navigation__link" routerLink="/home/feedback" routerLinkActive="navigation__link_active">4</div>
  </div>
</div>