.navigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 23px;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  width: 50px;
  z-index: 9;
}
.navigation__start {
  flex-basis: 30%;
  border-left: 1px solid #d0d0d0;
}
.navigation__end {
  flex-basis: 60%;
  border-left: 1px solid #d0d0d0;
}
.navigation__link {
  padding: 18px 0;
  cursor: pointer;
  outline: none;
  font-family: 'SFUIText-Light';
  margin-left: -5px;
}
.navigation__link_active {
  font-family: 'SFUIDisplay-Medium';
}

@media screen and (max-width: 568px) {
  .navigation {
    display: none;
  }
}
