.combinations {
  width: 883px;
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
}
.combinations__first {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  position: absolute;
}
.combinations__card {
  margin-right: 50px;
  cursor: pointer;
}
.combinations__card:last-child {
  margin-right: 0;
}
.combinations__navigation {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.combinations__navigation-item {
  width: 45px;
  height: 5px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 5px;
}
.combinations__navigation-item:last-child {
  margin-right: 0;
}
.combinations__navigation-item_active {
  background-color: #4a545c;
}
.combinations__cards {
  width: 883px;
  height: 545px;
  overflow: hidden;
}
.combinations__prev {
  position: absolute;
  top: 50%;
  left: -100px;
}
.combinations__next {
  position: absolute;
  top: 50%;
  right: -100px;
}
.combinations__prev button, .combinations__next button {
  height: 45px;
  width: 45px;
}
.combinations__prev .mat-icon, .combinations__next .mat-icon {
  font-size: 30px;
}
.combinations__prev .mat-icon {
  margin-right: -4px;
}
.combinations__next .mat-icon {
  margin-left: -4px;
}
.combinations__mobile {
  display: none;
}
.combinations__desktop {
  display: block;
}
.combinations__mobile-card_selected {
  transform: scale(1.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: .4s;
}

@media screen and (max-width: 1550px) {
  .combinations {
    margin-top: 0px;
  }
  .combinations__navigation {
    margin-top: 0;
  }
}

@media screen and (max-width: 568px) {
  .combinations {
    margin-left: 0;
    overflow: hidden;
    width: 100%;
    overflow: hidden;
  }
  .combinations__mobile {
    display: block;
    position: relative;
    padding-top: 465px;
  }
  .combinations__desktop {
    display: none;
  }
  .combinations__mobile-cards {
    display: flex;
  }
  .combinations__mobile-cards {
    padding: 45px 0;
    position: absolute;
    top: 0;
    transition: .3s;
  }
  .combinations__card {
    margin-right: 25px;
  }
  .combinations__mobile-navigation {
    width: 160px;
    height: 3px;
    border: 1px solid #d4d4d4;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    margin-bottom: 25px;
  }
  .combinations__mobile-navigation-item {
    height: 100%;
    width: 100%;
    transition: .4s;
  }
  .combinations__mobile-confirm {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .combinations__mobile-confirm button {
    border: none;
    background-image: url('../../../../../assets/img/button.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% 100%;
    background-position: center center;
    font-family: 'SFUIDisplay-Medium';
    font-size: 8px;
    text-transform: uppercase;
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  }
}

