<div class="feedback">
  <div class="feedback__wrapper">
    <form class="feedback__form">
      <div class="feedback__form-title">остались вопросы?</div>
      <div class="feedback__form-description">
        Lorem ipsum dolor sit amet, consectetuer adipiscing 
        elit sed diam nonummy nibh euismod.
      </div>
      <div class="feedback__control feedback__control_name">
        <input type="text" placeholder="Имя">
      </div>
      <div class="feedback__control feedback__control_email">
        <input type="text" placeholder="E-mail">
      </div>
      <div class="feedback__control feedback__control_message">
        <input type="text" placeholder="Сообщение">
      </div>
      <button class="feedback__send">
        <div class="feedback__send-content">Отправить</div>
        <div class="feedback__send-icon"></div>
      </button>
    </form>
  </div>
</div>