/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100vh;
  /* height: 100%; */
}

.mat-select-value, input.mat-input-element {
  font-size: 15px;
  height: 20px;
  padding-top: 7px;
}
.mat-form-field-wrapper {
  width: 160px;
}
.profile__personal-data__group .mat-form-field-wrapper {
  width: 100%;
}
.mat-checkbox-inner-container {
  width: 27px !important;
  height: 27px !important;
}
.mat-checkbox-frame {
  border-width: 1px !important;
  border-color: #d8d8d8 !important;
}
.mat-checkbox-checkmark {
  height: 70% !important;
  width: 70% !important;
  top: 3px !important;
  left: 5px !important;
}
.ps__thumb-y {
  background-color: #45b96d !important;
}
.ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
  background-color: transparent !important;
}

@media screen and (max-width: 1550px) {
  .own__content-item-checkbox .mat-checkbox-inner-container {
    width: 20px !important;
    height: 20px !important;
  }
}
